/*-----------------------------------*\
  #service.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Card...........................Cards style
 * Btn............................Button style
 *
 * MAIN CONTENT
 * Service........................Service style
 * Media queries..................Responsive for all devices
 */

/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/
@import url(../components/card.css);

/*-----------------------------------*\
  #SERVICES
\*-----------------------------------*/
.section-title {
  margin-top: 60px;
  padding-top: 70px;
}
.service {
  padding-block-start: calc(var(--section-padding)+60px);
}
.service-list {
  display: grid;
  gap: 25px;
}
.card-title {
  margin-block-end: 10px;
}
.card ion-icon {
  font-size: 3.2rem;
}
.card .body-sm {
  color: var(--jet);
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/* Mediaquery for larger than 786px screen */
@media (min-width: 768px) {
  .service-list {
    grid-template-columns: 1fr 1fr;
  }
}
