/*-----------------------------------*\
  #slider.css
\*-----------------------------------*/

.slider {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
}

.slider-item {
  /* Make the nearest element snap in to center when the user stop scrolling: */
  scroll-snap-align: start;
}
